language: go

install:
        - go get github.com/d4l3k/messagediff
        - go get github.com/davecgh/go-spew/spew
        - go get golang.org/x/lint/golint
        - go get github.com/twpayne/go-geom
        - go get golang.org/x/net/html/charset

script:
        - go test -v ./...
        - go test -cover -race ./...
        - go vet ./...
        - test -z "$(gofmt -d -s *.go)"
        - golint ./...

sudo: false
